registry=https://registry.npmmirror.com/
@lucide:registry=https://registry.npmjs.org/
lucide-react:registry=https://registry.npmjs.org/
@turbo:registry=https://registry.npmjs.org/
turbo:registry=https://registry.npmjs.org/
tsx:registry=https://registry.npmjs.org/
prettier-plugin-tailwindcss:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmmirror.com/
